- page_title s_('GroupSAML|SAML Single Sign On Settings')
%section.row.gl-mt-3
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_("GroupSAML|SAML Single Sign On")
    %p
      = s_("GroupSAML|Manage your group’s membership while adding another level of security with SAML.")
    = external_link _('Learn more'), help_page_path('user/group/saml_sso/index')
  .col-lg-9
    = render 'info'
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|Configuration')
  .col-lg-9
    = render 'form', group: @group, saml_provider: @saml_provider
- if @saml_response_check
  #response.pt-3
    %section.row.border-top.mt-4
      .col-lg-3.gl-mb-3
        %h4.page-title
          = s_('GroupSAML|SAML Response Output')
      .col-lg-9
        = render 'response_debug'
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|SCIM Token')
  .col-lg-9
    #js-scim-token-app{ data: { endpoint_url: @scim_token_url, generate_token_path: group_scim_oauth_path } }
- if ::Feature.enabled?(:microsoft_azure_group_sync)
  %section.row.border-top.mt-4
    .col-lg-3.gl-mb-3
      %h4.page-title
        = s_('Microsoft|Microsoft Azure Integration')
    .col-lg-9
      = render 'microsoft_application_form', group: @group, microsoft_application: @microsoft_application
%section.row.border-top.mt-4
  .col-lg-3.gl-mb-3
    %h4.page-title
      = s_('GroupSAML|Members')
  .col-lg-9
    .js-saml-members.gl-mt-3{ data: { group_id: @group.id } }
      .animation-container
        .skeleton-line-1
        .skeleton-line-2
        .skeleton-line-3
